# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.classpath
.project
.settings/
.factorypath
.apt_generated
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

# VS Code
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db
